<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <script src="../js/helper.js"></script>
    <script src="../js/forgot.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/forgotpassword.css" rel="stylesheet">
</head>
<body>
<div class="container container-forgot" id="forgot-pass">
    <div class="well login-container">
        <h2 class="text-center">Forgot Password</h2>
        <div >
        <input class="form-control" placeholder="Enter your email" id="input-forgot"/>
        </div>
        <div>
            <label id="error-label"></label>
        </div>
        <button id="btn-forgot" class="btn btn-primary btn-block" >Submit</button></br>
        </div>
    </div>

<div class="container container-msg hidden" id="forgot-pass-success">
    <div class="well login-container">
    <label id="label-msg">Email send to your registered email</label>
    </div>
</div>

</body>
</html>