<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <script src="js/helper.js"></script>
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/index.css" rel="stylesheet">
    </head>
    <body>
    <div class="container-fluid">
        <div class="well login-container">
        <h2 class="text-center">Welcome to Notez App</h2>
        <button id="btn-login" class="btn btn-primary btn-block" onclick="redirect('/login')">Login</button></br>
        <button id="btn-register" class="btn btn-info btn-block" onclick="redirect('/register')">Register</button>
        <a id="forgotpassword" href="/forgotpassword">Forgot Password?</a>
        </idv>
    </div>
    </body>
</html>