<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>Login</title>
	    <link rel="stylesheet" href="../css/bootstrap.css">
	    <link rel="stylesheet" href="../css/login.css">
        <script src="../js/login.js"></script>
        <script src="../js/helper.js"></script>
    <head>
    <body>
            <div class="container login-container">
                <div class="row">
                	<div class="col-md-5 col-md-offset-3 well">
                	<h1>Welcome to Notez</h1>
<!--                     <form role="form"> -->
                        <div class="form-group">
                        <label for="email">Email</label>
                            <input type="email" id="input-email" class="form-control" autocomplete="off" placeholder="Enter email">
                            <label id="label-email"></label>
                        </div>
                        <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="input-password" placeholder="Enter password" autocomplete="off">
                        <label id="label-password"></label>
                        </div>
                        <button class="btn btn-primary btn-block form-control" id="button-login">Login</button>
                        <button class="btn btn-success btn-block form-control" id="button-register">Register</button>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </body>
</html>
