body {
    background-image: url('../img/bg_img.jpg');
}

.login-container{
    width: 40%;
    margin: 10% auto;
    overflow: hidden;
}

#forgot-pass{

}

.hidden{
    display: none;
}

.show{
    display: block;
}

.forgot-pass-success{
    width: 40%;
    margin: 10% auto;
    overflow: hidden;
    display: none;
}

#error-label{
    margin-top: 10px;
    color:red;
}
#btn-forgot{
    margin-top: 10px;
}

#input-forgot{
    text-align: center;
}